{% extends 'base/template.html' %}
{% load static %}


{% block body %}
<div class="single_post">
    <div class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="post_content text-center">
                <span>درباره ما</span>
                <p>سلام. قالب سایت از سئو90 گرفته شده.</p>
                <p>بقیه پروژه های من در <a href="https://github.com/Ehsan-004" target="_blank">صفحه گیتهاب من</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}