@model IEnumerable<WhatsNews.Models.Article>

<div class="l-sidebar">
    <div class="cat-sidebar report">
        <span class="title">گزارش</span>
        <div class="text-left"><i class="fa fa-arrows-alt"></i></div>
        <ul>
            @if (Model.Any())
            {
                @foreach(var item in Model)
                {
                    <li><a href="#">@item.Title</a></li>
                }
            }
        </ul>
    </div>
</div>