@using System.Runtime.InteropServices
@{
    ViewData["Title"] = "Home Page";
}
<div class="clear-fix"></div>
<div class="row">

    <!--  -->
    <!-- Image Articles -->
    @await Component.InvokeAsync("ArticlesTypeImage")
    <!-- Image Articles -->

    <!--  -->
    <!-- Index 1 Start -->
    @await Component.InvokeAsync("Indexed1Articles")
    <!-- Index 1 End -->

    <!--  -->
    <!-- Text Start -->
    @await Component.InvokeAsync("ArticlesTypetext")
    <!-- Text End -->
</div>

<div class="clear-fix"></div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="r-sidebar">
                    
                    <!-- Conversation Start -->
                    <!-- گفتگو -->
                    @await Component.InvokeAsync("ArticlesTypeReport")
                    <!-- گفتگو -->
                    <!-- Conversation End -->
                        
                    <div class="ads-box">
                        <span class="title">تبلیغات</span><br>

                        <!-- Ads Start -->
                        <figure>
                            <img src="~/LocalStyles/img/unnamed.jpg" alt="">
                        </figure>
                        <figure>
                            <img src="~/LocalStyles/img/unnamed.jpg" alt="">
                        </figure>
                        <!-- Conversation End -->
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-wrapper">
                    
                    <!-- Index 2 Start -->
                    @await Component.InvokeAsync("Indexed2Articles")
                    <!-- Index 2 End -->

                    <!-- Categories Start -->
                    @await Component.InvokeAsync("Categories", new { count=5 })
                    <!-- Categories End -->
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="clear-fix"></div>
    <div class="latest-posts">
        
        <!-- Recent Articles Start -->
        <div class="container-fluid">
            <div class="blog-title-span">
                <span class="title">آخرین مطالب</span>
            </div>
            
            
            <!-- recent articles -->
            @await Component.InvokeAsync("RecentArticles")

        </div>
        <!-- Recent Articles End -->

    </div>
</div>