@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WhatsNewsAdmin</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 20px;
        }

        .table-wrapper {
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        .responsive-table {
            width: 100%;
            border-collapse: collapse;
            margin: 0 0 1.5rem 0;
            font-size: 1rem;
            text-align: left;
        }

        .responsive-table thead th {
            background-color: #009879;
            color: #ffffff;
            padding: 0.5rem;
        }

        .responsive-table th,
        .responsive-table td {
            border: 1px solid #dddddd;
            padding: 0.75rem;
            overflow: hidden;
        }

        .responsive-table th,
        .responsive-table td {
            min-width: 50px;
            width: auto;
        }

        .responsive-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .responsive-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .responsive-table tbody tr:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }

        .btn {
            border: none;
            color: white;
            padding: 5px 8px;
            margin: 2px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 0.8rem;
            cursor: pointer;
        }

        .btn-view {
            background-color: #4CAF50;
        }

        .btn-edit {
            background-color: #FFC107;
        }

        .btn-delete {
            background-color: #F44336;
        }

        
    </style>
    
    @RenderSection("scripts",required:false)


    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="~/Admin/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/Admin/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/Admin/assets/css/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/Admin/assets/css/lib/jsgrid/jsgrid.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Admin/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/Admin/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/Admin/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/Admin/assets/css/style.css" rel="stylesheet">
</head>

<body>

<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a
                                  href="index.html"><!-- <img src="assets/images/logo.png" alt="" /> --><span>Focus</span></a>
            </div>
            <ul>
                <li class="active"><a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard </a></li>
                <li>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i> Categories
                        <span class="ti-direction"></span></a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Articles" asp-action="Index"><i class="ti-book"></i> Articles </a>
                </li>
                <li><a href="app-email.html"><i class="ti-themify-favicon"></i> Comments </a></li>
                <li><a href="app-profile.html"><i class="ti-user"></i> Users </a></li>
                <li><a><i class="ti-close"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->


<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="float-right">
                    <ul>

                        <li class="header-icon dib"><i class="ti-bell"></i>
                            <div class="drop-down">
                                <div class="dropdown-content-heading">
                                    <span class="text-left">Recent Notifications</span>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                     src="~/Admin/assets/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">5 members joined today </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                     src="~/Admin/assets/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mariam</div>
                                                    <div class="notification-text">likes a photo of you</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                     src="~/Admin/assets/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Tasnim</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                     src="~/Admin/assets/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a href="#" class="more-link">See All</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="header-icon dib"><i class="ti-email"></i>
                            <div class="drop-down">
                                <div class="dropdown-content-heading">
                                    <span class="text-left">2 New Messages</span>
                                    <a href="email.html"><i class="ti-pencil-alt pull-right"></i></a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                     src="~/Admin/assets/images/avatar/1.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Michael Qin</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                     src="~/Admin/assets/images/avatar/2.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                     src="~/Admin/assets/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Michael Qin</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                     src="~/Admin/assets/images/avatar/2.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a href="#" class="more-link">See All</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="header-icon dib"><span class="user-avatar">John <i
                                                                                       class="ti-angle-down f-s-10"></i></span>
                            <div class="drop-down dropdown-profile">
                                <div class="dropdown-content-heading">
                                    <span class="text-left">Upgrade Now</span>
                                    <p class="trial-day">30 Days Trail</p>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="#"><i class="ti-user"></i> <span>Profile</span></a></li>

                                        <li><a href="#"><i class="ti-email"></i> <span>Inbox</span></a></li>
                                        <li><a href="#"><i class="ti-settings"></i> <span>Setting</span></a></li>

                                        <li><a href="#"><i class="ti-lock"></i> <span>Lock Screen</span></a></li>
                                        <li><a href="#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




@RenderBody()



<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!-- jquery vendor -->
<!-- <script src="assets/js/lib/jquery.min.js"></script>
<script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
nano scroller
<script src="assets/js/lib/menubar/sidebar.js"></script>
<script src="assets/js/lib/preloader/pace.min.js"></script> -->
<!-- sidebar -->



<!-- bootstrap -->



<!-- JS Grid Scripts Start-->
<script src="~/Admin/assets/js/lib/jsgrid/db.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/jsgrid.core.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/jsgrid.load-indicator.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/jsgrid.load-strategies.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/jsgrid.sort-strategies.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/jsgrid.field.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/fields/jsgrid.field.text.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/fields/jsgrid.field.number.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/fields/jsgrid.field.select.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/fields/jsgrid.field.checkbox.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/fields/jsgrid.field.control.js"></script>
<script src="~/Admin/assets/js/lib/jsgrid/jsgrid-init.js"></script>

</body>

</html>